* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#root {
    min-width: 374px;
    background-color: #faf7f7;
}

@font-face {
    font-family: 'montserrat-regular';
    src: url('./asset/Montserrat/Montserrat-Regular.ttf');
}

@font-face {
    font-family: 'montserrat-semi-bold';
    src: url('./asset/Montserrat/Montserrat-SemiBold.ttf');
}


.error {
    font-size: 10px;
    color: red;
}

.loading {
    z-index: 1;
}

.background {
    background-color: black;
    opacity: .5;
}

.background-container {
    background-image: url('https://www.metabo.com/t3/fileadmin/metabo/us/000_home/02_slider-pix_1280x512/M-Brush_Hero_Banner2.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    max-width: 100%;
    min-height: calc(100vh - 56px);

}

.register {
    font-family: 'montserrat-semi-bold';
}

.register label {
    font-size: 12px;
}

.product {
    min-height: 90vh;
    padding: 1rem 0;
    font-family: 'montserrat-semi-bold';
}

.product .card {
    width: calc((100% / 5) - .6rem);
    /* min-width: 300px; */
    margin: .3rem;
    height: 20rem;
    padding: 1rem 0;
    border-radius: 5px;
    transition: border 0.3s ease, box-shadow 0.5s ease-in-out;
    box-shadow: 2px 2px 8px #c5c2c2;

}

.product .card:hover {

    border: 1px solid #3a3a3b;
    box-shadow: 2px 5px 8px #565657;
    cursor: pointer;
}

.product .img-container {
    height: 7.5rem;
    padding: .3rem;
    /* object-fit: cover; */
}

.product .card-img-top {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.product .card-body {
    /* border: 1px solid black; */
    padding: 1rem;
}

.product .product-name {
    font-size: .9rem;
    text-overflow: ellipsis;
    overflow: hidden;
    display: -webkit-box !important;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    white-space: normal;
}

.product .product-description {
    color: rgb(109, 107, 107);
    font-size: .8rem;
    height: 60px;
    text-overflow: ellipsis;
    overflow: hidden;
    display: -webkit-box !important;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    white-space: normal;
}

.product .product-price {
    font-size: .9rem;
}

.product .product-quantity {
    font-size: .8rem;
}

.product .view-btn {
    background-color: white;
    color: #0a0a0d;
    border: 1px solid #0a0a0d;
    transition: background-color 0.2s ease;
}



.product .card:hover .view-btn {
    transform: scale(1.01);
    background-color: #0a0a0d;
    color: white;
}

@media (max-width: 1200px) {
    .product .card {
        width: calc((100% / 4) - .6rem);
        margin: .3rem;
    }
}

@media (max-width: 992px) {
    .product .card {
        width: calc((100% / 3) - .6rem);
        margin: .3rem;
    }

    .product .row {
        padding: 0 1rem;
    }

}

@media (max-width: 767px) {

    .product .card {
        width: calc((100% / 3) - .6rem);
        margin: .3rem;
        height: 16.5rem;
    }

    .product .row {
        padding: 0 .5rem;
    }

    .product .img-container {
        height: 5.5rem;
        padding: .3rem;
        /* object-fit: cover; */
    }

    .product .product-name {
        font-size: .7rem;

    }

    .product .product-description {
        font-size: .6rem;

    }

    .product .product-price {
        font-size: .7rem;
    }

    .product .product-quantity {
        font-size: .6rem;
    }
}

@media (max-width: 576px) {

    .product .card {
        width: calc((100% / 2) - .6rem);
    }

    .product .row {
        max-width: 450px;
        margin: 0 auto;
        padding: 0;
    }
}